.todo-list-item {
    margin-right: auto;
}
.btn {
    margin-right: auto;
    background-color: antiquewhite;
    float: right;
}
.todo-list-item-done{
    text-decoration:line-through;
}
.todo-list-item-important{
    font-weight: bold;
    color: darkblue;
}