body {
    font: 400 16px 'Fredoka', sans-serif;
}
.app-wrapper-content {
    /*grid-area: c;*/
    width: 1000px;
    margin: 0 auto;
}


.header {
    padding: 20px;
    text-align: center;


}
.header h1 {
    text-align: center;
}

/*.nav {*/
/*    !*grid-area: n;*!*/

/*}*/

/*.content {*/
/*    */
/*}*/


/* .content img {
    
} */